<!-- views/login2.ejs -->
<h2>Login</h2>
<form action="/login2" method="POST">
  <input name="email" placeholder="Email" required>
  <input name="password" type="password" placeholder="Password" required>
  <button>Login</button>
</form>
<a href="/register">Create/Register </a>