<form action="/register" method="POST">
  <input name="username" placeholder="Username" required>
  <input name="email" placeholder="Email" required>
  <input name="password" type="password" placeholder="Password" required>
  <button>Register</button>
</form>
